body {
		background: #303030;
		color: #ffffff;
		margin: 0 auto;
		font-family: 'Oxygen', sans-serif;
	}
#navbar {
	background: #777777;
	font-family: 'Handlee', cursive;
	margin: 0 0 26px 0;
	height: 64px;
}
#helmet {
	height: 40px;
	width: 36px;
	position: relative;
	top: 7px;
	left: -266px;
}
#navbar h1 {
	margin: 18px 0 0 58px;
	padding: 0;
	float: left;
	display: inline;
}
#navbar ul {
	display: inline;
	float: right;
	margin: 24px 0;
	padding: 0;
}
#navbar li {
	display: inline;
	padding: 24px 20px 19px 20px;
}
#exp {
	background: #cc6633;
}
#edu {
	background: #99cc33;
}
#res {
	background: #9966cc;
}
#navbar a {
	color: #ffffff;
	text-decoration: none;
}
#content {
	text-align: center;
}
#me {
	width: 140px;
	height: 140px;
	border: 2px solid white;
	border-radius: 100px;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 16px;
}
p {
	font-size: 14px;
	line-height: 20px;
}