body {
	margin: 0;
	padding: 0;
	font-family: Oxygen, Verdana, sans-serif;
	background-image: url("MSU_Beaumont_Tower_1.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-size: 16px;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	display: flex;
	align-items: center;
	background-color: rgba(20,20,20,0.84);
	font-family: Itim, Georgia, serif;
}

nav h1 {
	display: flex;
	margin: 0 0 0 1.8%; 
	width: 30%;
	font-size: 1.6em;
}

nav ul {
	margin: 0;
	padding: 0;
    display: flex;
    width: 70%;
	list-style: none;
}

nav ul li {
	flex-grow: 1;
	flex-basis: auto;
}

nav ul li a {
	display: flex;
	padding: 0.8em 0.25em;
	justify-content: center;
	text-decoration: none;
	color: inherit;
	transition: background-color .25s linear;
	-webkit-transition: background-color .25s linear;
    -moz-transition: background-color .25s linear;
    -o-transition-property: background-color .25s linear;
}

nav ul li a:hover {
	background-color: rgba(255,255,255,1);
	color: black;
}

#intro h1 {
	margin: 0;
	padding: 28% 0 0 5%;
	font-family: Itim, Georgia, serif;
	font-size: 4em;
	height: 100vh;
	background-color: rgba(0,0,0,0.25);

}

.content {
	border-top: 0px solid rgb(66,60,60);
	padding: 2% 6%;
	height: 100vh;
	text-align: center;
}

.blue {
	background-color: #445D87;
}

.lightblue {
	background-color: #5878AB;
}

.content h2 {
	font-size: 2em;
	font-family: Itim, Georgia, serif;
}

.content p {
	font-size: 1em;
	line-height: 1.4em;
}

.icon {
	width: 2.5em;
	height: 2.5em;
	border-radius: 2.5em;
}

/* Note that the border-radius above exists only to elimate the "square background" caused by the following code */

.icon:hover {
	background-color: rgb(135,176,97);
}

@media (max-width: 680px) {
	body {
		font-size: 14px;
	}
	nav {
		flex-wrap: wrap;
		text-align: center;
	}
	nav h1 {
		margin: 0.18em 0;
		flex-direction: column;
		width: 100%;
	}
	nav ul {
		width: 100%;
		flex-direction: row;
	}
	nav ul li a {
		padding: 0.6em 0.2em;
	}
}


/*135,176,97 <-- a hover green
105,140,73 <-- div green
70,97,45 <-- turtle
94,87,87 <-- div brown
66,60,60 <--navbar brown*/

